@media  (min-width: 768px) {
    .contenedor-anuncios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


.anuncio {
    background-color: #e1e1e1;
    border: 1px solid darken(#e1e1e1,10);

    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}
.contenido-anuncio {
    padding: 2rem;
    min-height: 41rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio verticalmente */
    height: 100%;
    
}
.contenido-anuncio h3,.contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #71B100;
    font-weight: 900;
    font-size: 3rem;
}
.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
}
.iconos-caracteristicas li {
    flex: 1;
    display: flex;
}
.iconos-caracteristicas  img {
    flex: 0 0 5rem; /*para que no se haga mas grande*/
    margin-right: 1rem;/*para que no se pegue al texto*/
}
.iconos-caracteristicas p {
    font-weight: 700;
}