.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark-mode{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 10rem;
    filter: invert(100%);
}
.dark-mode:hover {
    cursor: pointer;
}

@media  (min-width: 768px) {
    .derecha {
     align-items: flex-end;
     
    
    }
    .dark-mode{
        width: 3rem;
        margin-top: 0;
      
    }
}




.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: flex-end;
}

@media  (max-width: 768px) {
    .barra {
        flex-direction: column;
        align-items: center;
        
    }
    .navegacion a {
        display: block;
        text-align: center;
    }
    .navegacion {
        display: none;
    }
    .navegacion-inferior {
        display: flex;
        flex-direction: column;
     
    }
    
}
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    align-items: center;
}
.navegacion a:last-of-type {
    margin-right: 2rem;
}

/*menu hamburguesa*/
@media  (min-width: 768px) {
    .menu-telefono {
        display: none;
    }
   
}
 .menu-telefono img {
    max-height: 5rem;
        height: 5rem;
        width: auto;
        
    }
.mostrar {
    display: flex;
    flex-direction: column;
}
@media  (min-width: 768px) {
    .mostrar {
        flex-direction: row;
    }
    
}

/*Modo oscuro*/
.dark-mode1 {
    background-color: rgba(0, 0, 0, 0.819);
}
.dark-mode1 p{
    color: white;
}
.dark-mode1 a {
    color: #e1e1e1;
}
.dark-mode1 h1 {
    color: #e1e1e1;
}
.dark-mode1 h2 {
    color: #e1e1e1;
}
.dark-mode1 h3 {
    color: #e1e1e1;
}
.dark-mode1 h4 {
    color: #e1e1e1;
}
.dark-mode1 .anuncio {
    background-color: #333333;
    border: 1px solid #333333;
}
.dark-mode1 .anuncio .precio {
    color: #71B100;
}
.dark-mode1 .anuncio .icono {
    filter: invert(100%);
}
.dark-mode1 .resumen-propiedad .icono{
    filter: invert(100%);
}
.dark-mode1 .resumen-propiedad .precio {
    color: #71B100;
}